.wrapper {
    display: grid;
    background: #ddd;
    /* grid-template-columns:minmax(1400px,auto); */
}

.application {
    display: grid;
    /* grid-template-columns:1fr 4fr; */
    grid-template-columns:  200px minmax(auto, 1200px);
    grid-gap:1em;
    grid-auto-rows: minmax(100px, auto);
    justify-self: center;
}

.application > div{
    background:#eee;
    padding:1em;
}

.header > div {
    text-align: center;
    height: 100%; vertical-align: middle;
    font-size: 15pt;
    font-weight: bold;
}

.header {
    grid-column:1/3;
    grid-row:1;
}

.audio-view {
    grid-column:1;
    grid-row:2;
}

.buttons {
    grid-column:1;
    grid-row:3;
}


.abbrevs {
    grid-column:1;
    grid-row:4;
}

.navigation {
    grid-column:1/3;
    grid-row:6;
}

.messages {
    grid-column:1/3;
    grid-row:5;
}

.recognition-result {
    grid-column:2/3;
    grid-row:2;
}

.current-utt {
    grid-column:2/3;
    grid-row:3;
}

.saved-utts {
    grid-column:2/3;
    grid-row:4;
}
