.application {
    display: grid;
    /* grid-template-columns:  minmax(150px, auto) minmax(auto, 1200px); */
    grid-template-columns: 1fr minmax(150px, auto) minmax(auto, 1200px) 1fr;
    grid-gap:1em;
    grid-auto-rows: minmax(100px, auto) minmax(100px, auto) minmax(100px, auto) minmax(300px, auto) minmax(100px, auto);
}

.application > div{
    background:#eee;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.header {
    grid-column:2/4;
    grid-row:1;
    text-align: center;
    vertical-align: middle;
    font-size: 15pt;
    font-weight: bold;
}

.audio-view {
    grid-column:2;
    grid-row:2;
    display: grid;
    grid-gap:0.5em;
    grid-auto-columns: auto;
    grid-auto-rows: minmax(60px, auto) auto;
}

.audio-view .visualizer {
    height: 60px;
    width: 150px;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
}

.audio-view #rec_duration {
    text-align: center;
    justify-self: center;
    grid-column: 1;
    grid-row: 2;
}

.buttons {
    grid-column:2;
    grid-row:3;
}


.abbrevs {
    grid-column:2;
    grid-row:4;
}

.navigation {
    grid-column:2/4;
    grid-row:6;
}

.messages {
    grid-column:2/4;
    grid-row:5;
}

.recognition-result {
    grid-column:3/4;
    grid-row:2;
}

.current-utt {
    grid-column:3/4;
    grid-row:3;
    display: grid;
}

.saved-utts {
    grid-column:3/4;
    grid-row:4;
}

.saved-utts .content {
    display: grid;
    overflow: auto;
    grid-template-rows: minmax(200pt,auto) auto;
}

.current-utt .content {
    resize: vertical;
}


.title {
    text-transform: lowercase;
    font-variant: small-caps;
/*     display: none; */
 }

.content {
    padding:1em .5em 1em 0em;
}

.hidden {
    display: none;
}
