.headertxt {
    animation-duration: 2s;
    animation-name: slidein;
}

.title {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
    from {
	margin-left: 100%;
	width: 300%; 
    }

    to {
	margin-left: 0%;
	width: 100%;
    }
}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    border: 1pt solid transparent;
    border-color: #007bff !important;
    border-radius: .25rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover:not(:disabled) {
    background: #007bff;
    color: white;
}

.btn:disabled {
    color: grey;
    border-color: grey !important;
}

.visualizer {
    border: 1pt solid transparent;
    border-color: #eee;
    border-radius: .50rem;
}
